ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e70f8d;
}

li {
    float: left;
}

li a {
  display: block;
  color: rgb(15, 14, 14);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0000ff;
}